In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path = 'data/ex1data1.txt'
data = pd.read_csv(data_path, header=None, names = ["x1", "y"])
data.head()

       x1        y
0  6.1101  17.5920
1  5.5277   9.1302
2  8.5186  13.6620
3  7.0032  11.8540
4  5.8598   6.8233

In [3]:
m = data.shape[0]
data.insert(loc=0,column='x0',value=np.ones(m))
data.head()

    x0      x1        y
0  1.0  6.1101  17.5920
1  1.0  5.5277   9.1302
2  1.0  8.5186  13.6620
3  1.0  7.0032  11.8540
4  1.0  5.8598   6.8233